<div ng-controller="ContactChipDemoCtrl as ctrl" layout="column" ng-cloak="" class="chipsdemoContactChips" ng-app="MyApp">

    <md-content class="md-padding autocomplete" layout="column">
        <br>
        <h2 class="md-title">{{ message }}</h2>
        <md-contact-chips ng-model="ctrl.asyncContacts" md-contacts="ctrl.delayedQuerySearch($query)" md-contact-name="title" md-contact-email="email" md-require-match="true" md-highlight-flags="i" filter-selected="ctrl.filterSelected" placeholder="Example: ICOM5016 - Databases">
    </md-content>
</div>

